<header>
    <nav>
        <a href="/"><img src="/assets/imgs/crocodilo.png"></img></a>
        <div class="icons">
            <span class="menu_lateral">
                <p>Menu</p>
                <form method="post" action="/red">
                    <button type="submit" name="option" value="1">Perguntar</button>
                    <button type="submit" name="option" value="0">Responder</button>
                </form>
            </span>
            <span class="icon"><a href="https://github.com/Nurux" target="_blank"><i  class="fa-brands fa-github"></i></a></span>
            <span class="icon"><a href="https://www.linkedin.com/in/john-félix-a5aa10214/" target="_blank"><i  class="fa-brands fa-linkedin"></i></a></span>
        </div>    
    </nav>
</header>